
h1{
	background-color:#FA9C1D;
	color: #4A4C4E;
	font: bold normal 38px Arial, Helvetica, sans-serif;
	line-height: 1.6em
	margin 0
	
}

body{
	background-color:#4A4C4E;
	color: #FFF;
	font: normal 16px Arial, Helvetica, sans-serif;
}

.title{

	width: 85%;
	margin: auto;
	text-align: center;
}

img{
text-align: center;
display: block;
max-width: 100%;
margin:0 auto;
}

ul.OverwatchLogo{
list-style: none;
    padding-left: 0;
}
ul.OverwatchLogo li{
	position: relative;
    padding-left: 20px;
}

ul.OverwatchLogo li:before {
content: '';
width: 15px;
height: 15px;
position: absolute;
background-image: url('OverwatchLogo.jpg');
background-size: cover;
background-position: center;
left: 0;
top: 50%;
transform: translateY(-55%);
 }
li{
	margin:10px;
}

/* unvisited link */
a:link {
    color: orange;
}

/* visited link */
a:visited {
    color: orange;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: blue;
}

/*
background-image:url('JeffBoy.jpg');
background-repeat: no-repeat;
width: 100px;
height: 200px;
}
*/